# Feature Selection Process

In [1]:
# Import Python libraries

import pandas as pd
# data manipulation and analysis
import requests
# HTTP requests to interact with services and retrieve data from websites

### Load data (NRI Table CensusTracts Subset) from Github

In [2]:
# URL of the Excel file on GitHub
#excel_url = "https://github.com/Vy4thewin/D698/blob/main/Datasets/NRI_Table_CensusTracts_Subset.xlsx"

# Load the Excel file into a DataFrame
#try:
    #df = pd.read_excel(excel_url)
    
    # Save the DataFrame as a CSV file
    #csv_file = "data.csv"
    #df.to_csv(csv_file, index=False)

    #print(f"Excel file successfully converted to CSV: {csv_file}")

#except Exception as e:
    #print(f"An error occurred: {e}")

### Load data (NRI Table Census Tracts Subset) from Local Drive

In [3]:
# Replace 'your_excel_file.xlsx' with the path to your Excel file
#excel_file_path = 'NRI_Table_CensusTracts_Subset.xlsx'

# Load the Excel file into a DataFrame
#try:
    #df = pd.read_excel(excel_file_path)
    
    # Save the DataFrame as a CSV file
    #csv_file = 'data.csv'
    #df.to_csv(csv_file, index=False)

    #print(f'Excel file successfully converted to CSV: {csv_file}')

#except Exception as e:
    #print(f'An error occurred: {e}')

In [4]:
# Load your CSV file into a DataFrame (replace 'your_data.csv' with your file)
df = pd.read_csv('data.csv')
df.head()

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,TRACT,...,WFIR_EALS,WFIR_EALR,WFIR_ALRB,WFIR_ALRP,WFIR_ALRA,WFIR_ALR_NPCTL,WFIR_RISKV,WFIR_RISKS,WFIR_RISKR,NRI_VER
0,1613,T04001942600,Arizona,AZ,4,Apache,County,1,4001,942600,...,48.769814,Very Low,1.121100e-06,5.769000e-12,0.000000e+00,62.608065,510.959507,55.347714,Relatively Low,45008
1,1614,T04001942700,Arizona,AZ,4,Apache,County,1,4001,942700,...,81.136361,Relatively Low,8.572400e-06,4.026400e-11,1.175650e-06,81.461002,10189.737522,83.961613,Relatively Low,45008
2,1615,T04001944000,Arizona,AZ,4,Apache,County,1,4001,944000,...,83.776295,Relatively Low,1.368750e-05,8.870200e-11,0.000000e+00,83.669271,17050.665794,86.368501,Relatively Moderate,45008
3,1616,T04001944100,Arizona,AZ,4,Apache,County,1,4001,944100,...,83.054475,Relatively Low,1.320350e-05,6.582100e-11,5.607080e-07,83.555112,15203.847694,85.841697,Relatively Moderate,45008
4,1617,T04001944201,Arizona,AZ,4,Apache,County,1,4001,944201,...,45.630433,Very Low,5.091070e-07,4.978000e-12,0.000000e+00,50.111186,437.902317,53.126338,Relatively Low,45008

In [5]:
# Dimensions of the DataFrame
# (rows:data records/observations, columns:variables/attributes)
df.shape

(15280, 183)

### Load data (caliTracts_features.csv) from Local Drive

In [6]:
# Load your CSV file into a DataFrame (replace 'your_data.csv' with your file)
df2 = pd.read_csv('caliTracts_features.csv')
df2.head()

,Unnamed: 0,countyID,STATEFP,COUNTYFP,TRACTCE,GEOID,tractID,NAMELSAD,land_Area,water_Area,latitude,longitude,tract_avgSlope,County,county_avgElevation,avg_tempeture,avg_precipitation,EVT_LF
0,1,6037,6,37,137504,6037137504,1375.04,Census Tract 1375.04,3837562,0,34.148038,-118.572059,6.188260,Los Angeles County,149,63.7,7.64,Tree
1,2,6037,6,37,138000,6037138000,1380.00,Census Tract 1380,4472196,0,34.148801,-118.591049,5.215026,Los Angeles County,499,63.7,7.64,Tree
2,3,6037,6,37,139200,6037139200,1392.00,Census Tract 1392,1152028,0,34.175696,-118.524645,0.468536,Los Angeles County,494,63.7,7.64,Developed
3,4,6087,6,87,120901,6087120901,1209.01,Census Tract 1209.01,18372491,0,37.078162,-122.015426,7.336689,Santa Cruz County,176,58.6,27.14,Shrub
4,5,6087,6,87,120902,6087120902,1209.02,Census Tract 1209.02,6474889,0,37.062845,-122.010624,5.057514,Santa Cruz County,89,58.6,27.14,Herb

In [7]:
# Dimensions of the DataFrame 
# (rows:data records/observations, columns:variables/attributes)
df2.shape

(9119, 18)

In [8]:
# Delete the first column (column '0')
df2 = df2.iloc[:, 1:]

# Print the resulting DataFrame
df2.head()

,countyID,STATEFP,COUNTYFP,TRACTCE,GEOID,tractID,NAMELSAD,land_Area,water_Area,latitude,longitude,tract_avgSlope,County,county_avgElevation,avg_tempeture,avg_precipitation,EVT_LF
0,6037,6,37,137504,6037137504,1375.04,Census Tract 1375.04,3837562,0,34.148038,-118.572059,6.188260,Los Angeles County,149,63.7,7.64,Tree
1,6037,6,37,138000,6037138000,1380.00,Census Tract 1380,4472196,0,34.148801,-118.591049,5.215026,Los Angeles County,499,63.7,7.64,Tree
2,6037,6,37,139200,6037139200,1392.00,Census Tract 1392,1152028,0,34.175696,-118.524645,0.468536,Los Angeles County,494,63.7,7.64,Developed
3,6087,6,87,120901,6087120901,1209.01,Census Tract 1209.01,18372491,0,37.078162,-122.015426,7.336689,Santa Cruz County,176,58.6,27.14,Shrub
4,6087,6,87,120902,6087120902,1209.02,Census Tract 1209.02,6474889,0,37.062845,-122.010624,5.057514,Santa Cruz County,89,58.6,27.14,Herb

In [9]:
# Dimensions of the DataFrame 
# (rows:data records/observations, columns:variables/attributes)
df2.shape

(9119, 17)

### Merge datasets (NRI Table Census Tracts Subset and caliTracts_features)

In [10]:
# Merge datasets based on different key columns
merged_dataset = pd.merge(df, df2, left_on='TRACT', right_on='TRACTCE', how='inner')

# The 'how' parameter specifies the type of merge ('inner', 'outer', 'left', 'right')
# 'inner' merge keeps only rows with matching values in both key columns

merged_dataset.head()

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,TRACT,...,land_Area,water_Area,latitude,longitude,tract_avgSlope,County,county_avgElevation,avg_tempeture,avg_precipitation,EVT_LF
0,1631,T04003000101,Arizona,AZ,4,Cochise,County,3,4003,101,...,435344956,95557,36.338068,-118.894591,5.072635,Tulare County,1136,56.1,12.34,Agriculture
1,1631,T04003000101,Arizona,AZ,4,Cochise,County,3,4003,101,...,429824904,8942771,37.890298,-120.832118,1.601784,Stanislaus County,87,63.2,10.09,Agriculture
2,1631,T04003000101,Arizona,AZ,4,Cochise,County,3,4003,101,...,573827,0,37.948980,-121.282089,0.000000,San Joaquin County,6,63.8,10.75,Tree
3,1631,T04003000101,Arizona,AZ,4,Cochise,County,3,4003,101,...,2652933,4497442,41.745483,-124.203419,0.385948,Del Norte County,10,52.4,52.90,Tree
4,1631,T04003000101,Arizona,AZ,4,Cochise,County,3,4003,101,...,4143554305,34470988,37.680912,-118.553106,3.627579,Mono County,1743,45.5,13.07,Tree

In [11]:
# Dimensions of the DataFrame 
# (rows:data records/observations, columns:variables/attributes)
merged_dataset.shape

(25500, 200)

### Filter and Select ONLY "California" State

In [12]:
# Select rows where the 'State' column is 'California'
cali_data = merged_dataset[merged_dataset['STATE'] == 'California']

# Display or work with the California data
cali_data.head()

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,TRACT,...,land_Area,water_Area,latitude,longitude,tract_avgSlope,County,county_avgElevation,avg_tempeture,avg_precipitation,EVT_LF
9,4580,T06005000101,California,CA,6,Amador,County,5,6005,101,...,435344956,95557,36.338068,-118.894591,5.072635,Tulare County,1136,56.1,12.34,Agriculture
10,4580,T06005000101,California,CA,6,Amador,County,5,6005,101,...,429824904,8942771,37.890298,-120.832118,1.601784,Stanislaus County,87,63.2,10.09,Agriculture
11,4580,T06005000101,California,CA,6,Amador,County,5,6005,101,...,573827,0,37.948980,-121.282089,0.000000,San Joaquin County,6,63.8,10.75,Tree
12,4580,T06005000101,California,CA,6,Amador,County,5,6005,101,...,2652933,4497442,41.745483,-124.203419,0.385948,Del Norte County,10,52.4,52.90,Tree
13,4580,T06005000101,California,CA,6,Amador,County,5,6005,101,...,4143554305,34470988,37.680912,-118.553106,3.627579,Mono County,1743,45.5,13.07,Tree

In [13]:
# Dimensions of the DataFrame 
# (rows:data records/observations, columns:variables/attributes)
cali_data.shape

(17422, 200)

#### Validate merged dataset

In [14]:
# Choose two columns to view (replace 'Column1' and 'Column2' with the actual column names)
columns_to_view = ['TRACT','TRACTCE','County', 'COUNTY']

# View the selected columns
viewed_data = cali_data[columns_to_view]

# Display the selected columns
print(viewed_data)

       TRACT  TRACTCE              County  COUNTY
9        101      101       Tulare County  Amador
10       101      101   Stanislaus County  Amador
11       101      101  San Joaquin County  Amador
12       101      101    Del Norte County  Amador
13       101      101         Mono County  Amador
...      ...      ...                 ...     ...
25495  11210    11210         Yolo County    Yolo
25496  11211    11211         Yolo County    Yolo
25497  11304    11304         Yolo County    Yolo
25498  40301    40301         Yuba County    Yuba
25499  40800    40800         Yuba County    Yuba

[17422 rows x 4 columns]

#### Create the dataframe

In [15]:
# Create a NEW Variable
cali_df = pd.DataFrame(cali_data)

#### Identify the datatypes

In [16]:
# Get data type information for each column
data_types = cali_df.dtypes

print(data_types)

OID_                     int64
NRI_ID                  object
STATE                   object
STATEABBRV              object
STATEFIPS                int64
                        ...
County                  object
county_avgElevation      int64
avg_tempeture          float64
avg_precipitation      float64
EVT_LF                  object
Length: 200, dtype: object

#### Convert non-numeric columns to categorical data

In [17]:
# Get the list of non-numeric columns (categorical columns)
non_numeric_columns = cali_df.select_dtypes(exclude=['number']).columns

# Convert non-numeric columns to categorical data type
cali_df[non_numeric_columns] = cali_df[non_numeric_columns].astype('category')

# Verify the data type conversion
print("Data Types of Columns:")
print(cali_df.dtypes)

Data Types of Columns:
OID_                      int64
NRI_ID                 category
STATE                  category
STATEABBRV             category
STATEFIPS                 int64
                         ...
County                 category
county_avgElevation       int64
avg_tempeture           float64
avg_precipitation       float64
EVT_LF                 category
Length: 200, dtype: object

#### View categorical columns

In [18]:
# Get the names of categorical columns
categorical_columns = cali_df.select_dtypes(include=['category']).columns

# Create a DataFrame from the categorical column names
categorical_columns_df = pd.DataFrame(categorical_columns, columns=["Categorical Column Names"])

# Display the DataFrame
print("Categorical Column Names:")
print(categorical_columns_df)

Categorical Column Names:
   Categorical Column Names
0                    NRI_ID
1                     STATE
2                STATEABBRV
3                    COUNTY
4                COUNTYTYPE
5                RISK_RATNG
6                 EAL_RATNG
7                SOVI_RATNG
8                RESL_RATNG
9                 DRGT_HLRR
10                DRGT_EALR
11               DRGT_RISKR
12                HWAV_HLRR
13                HWAV_EALR
14               HWAV_RISKR
15                LTNG_HLRR
16                LTNG_EALR
17               LTNG_RISKR
18                RFLD_HLRR
19                RFLD_EALR
20               RFLD_RISKR
21                SWND_HLRR
22                SWND_EALR
23               SWND_RISKR
24                WFIR_HLRR
25                WFIR_EALR
26               WFIR_RISKR
27                 NAMELSAD
28                   County
29                   EVT_LF

#### Checking unique values in a specific column

In [19]:
# Choose the column to print (replace 'ColumnName' with the actual column name)
column_to_print = 'NRI_VER'

# Print the selected column
print(cali_df[column_to_print])

9        45008
10       45008
11       45008
12       45008
13       45008
         ...
25495    45008
25496    45008
25497    45008
25498    45008
25499    45008
Name: NRI_VER, Length: 17422, dtype: int64

In [20]:
# Get unique values from the selected column
unique_values = cali_df[column_to_print].unique()

# Print the unique values
for value in unique_values:
    print(value)

45008

#### Identify and delete the categorical and numerical columns with non-unique values equal to 1 from dataframe

#### Create NEW variable (cali_df2)

In [21]:
# Separate columns into categorical and numerical
categorical_columns = cali_df.select_dtypes(include=['category']).columns
numerical_columns = cali_df.select_dtypes(exclude=['category']).columns

# List non-unique categorical and numerical columns
non_unique_categorical_columns = []
non_unique_numerical_columns = []

# Check for non-unique values in categorical columns
for column in categorical_columns:
    unique_count = cali_df[column].nunique()
    if unique_count == 1:
        non_unique_categorical_columns.append(column)

# Check for non-unique values in numerical columns
for column in numerical_columns:
    unique_count = cali_df[column].nunique()
    if unique_count == 1:
        non_unique_numerical_columns.append(column)

# Drop non-unique columns from the DataFrame
cali_df2 = cali_df.drop(columns=non_unique_categorical_columns + non_unique_numerical_columns)

# Display the DataFrame with non-unique columns removed
print("DataFrame with Non-Unique Columns Removed:")
cali_df2.head()

DataFrame with Non-Unique Columns Removed:

,OID_,NRI_ID,COUNTY,COUNTYFIPS,STCOFIPS,TRACT,TRACTFIPS,POPULATION,BUILDVALUE,AGRIVALUE,...,land_Area,water_Area,latitude,longitude,tract_avgSlope,County,county_avgElevation,avg_tempeture,avg_precipitation,EVT_LF
9,4580,T06005000101,Amador,5,6005,101,6005000101,4002,850357220.0,0.0,...,435344956,95557,36.338068,-118.894591,5.072635,Tulare County,1136,56.1,12.34,Agriculture
10,4580,T06005000101,Amador,5,6005,101,6005000101,4002,850357220.0,0.0,...,429824904,8942771,37.890298,-120.832118,1.601784,Stanislaus County,87,63.2,10.09,Agriculture
11,4580,T06005000101,Amador,5,6005,101,6005000101,4002,850357220.0,0.0,...,573827,0,37.948980,-121.282089,0.000000,San Joaquin County,6,63.8,10.75,Tree
12,4580,T06005000101,Amador,5,6005,101,6005000101,4002,850357220.0,0.0,...,2652933,4497442,41.745483,-124.203419,0.385948,Del Norte County,10,52.4,52.90,Tree
13,4580,T06005000101,Amador,5,6005,101,6005000101,4002,850357220.0,0.0,...,4143554305,34470988,37.680912,-118.553106,3.627579,Mono County,1743,45.5,13.07,Tree

In [22]:
# Get the names of categorical columns
categorical_columns2 = cali_df2.select_dtypes(include=['category']).columns

# Create a DataFrame from the categorical column names
categorical_columns_df2 = pd.DataFrame(categorical_columns2, columns=["Categorical Column Names"])

# Display the DataFrame
print("Categorical Column Names:")
print(categorical_columns_df2)

Categorical Column Names:
   Categorical Column Names
0                    NRI_ID
1                    COUNTY
2                RISK_RATNG
3                 EAL_RATNG
4                SOVI_RATNG
5                RESL_RATNG
6                 DRGT_HLRR
7                 DRGT_EALR
8                DRGT_RISKR
9                 HWAV_HLRR
10                HWAV_EALR
11               HWAV_RISKR
12                LTNG_HLRR
13                LTNG_EALR
14               LTNG_RISKR
15                RFLD_HLRR
16                RFLD_EALR
17               RFLD_RISKR
18                SWND_HLRR
19                SWND_EALR
20               SWND_RISKR
21                WFIR_HLRR
22                WFIR_EALR
23               WFIR_RISKR
24                 NAMELSAD
25                   County
26                   EVT_LF

In [23]:
# Get the names of the numerical columns
numerical_columns = cali_df2.select_dtypes(exclude=['category']).columns

# Create a DataFrame to store the numerical column names
numerical_columns_df = pd.DataFrame({'Numerical Columns': numerical_columns})

# Display the numerical column names in a DataFrame
print("Numerical Column Names:")
print(numerical_columns_df)

Numerical Column Names:
       Numerical Columns
0                   OID_
1             COUNTYFIPS
2               STCOFIPS
3                  TRACT
4              TRACTFIPS
..                   ...
161            longitude
162       tract_avgSlope
163  county_avgElevation
164        avg_tempeture
165    avg_precipitation

[166 rows x 1 columns]

#### Calculate percentage missing and remove from dataframe

In [24]:
# Calculate the percentage of missing values for each column
missing_percent = (cali_df2.isnull().mean() * 100)

# Find columns with missing data over 80 percent
columns_w_high_missing = missing_percent[missing_percent > 80]

# Remove columns with missing data over 80 percent from the DataFrame
cali_df2 = cali_df2.drop(columns=columns_w_high_missing.index)

# Display the columns with missing data over 80 percent and their missing percentages
print("Columns with missing data over 80 percent:")
print(columns_w_high_missing)

Columns with missing data over 80 percent:
WFIR_EVNTS    100.0
dtype: float64

In [25]:
cali_df.shape

(17422, 200)

In [26]:

cali_df2.shape

(17422, 192)

#### Calculate percentage of zero values for each column and remove from dataframe

In [27]:
# Calculate the percentage of zero values for each column
zero_percent = (cali_df2.eq(0).mean() * 100)

# Find columns with zero count over 80 percent
columns_w_high_zero_count = zero_percent[zero_percent > 80]

# Remove columns with zero count over 80 percent from the DataFrame
cali_df2 = cali_df2.drop(columns=columns_w_high_zero_count.index)

# Display the columns with zero count over 80 percent and their zero percentages
print("Columns with zero count over 80 percent:")
print(columns_w_high_zero_count)

Columns with zero count over 80 percent:
Series([], dtype: float64)

In [28]:
cali_df.shape

(17422, 200)

In [29]:
cali_df2.shape

(17422, 192)

### FEATURE SELECTION Process

In [30]:
# Import modules from the 'scikit-learn' (or 'sklearn') libraries

from sklearn.feature_selection import SelectKBest, chi2, f_classif, f_regression, mutual_info_classif, mutual_info_regression
#imports various feature selection methods and tools from the 'feature_selection' module within 'sklearn'
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
#create ensemble models based on random forests for classification and regression tasks
from sklearn.feature_selection import SelectFromModel
#select features based on a machine learning model's feature importance
from sklearn.preprocessing import LabelEncoder
#encode categorical labels into numerical values

In [31]:
def feature_selection(data, target, n_features_to_select=None, problem_type='regression'):
    # Separate categorical and numerical features
    categorical_features = data.select_dtypes(include=['category']).columns.tolist()
    numerical_features = data.select_dtypes(exclude=['category']).columns.tolist()

    # Encode categorical features using LabelEncoder
    data_encoded = data.copy()
    for feature in categorical_features:
        le = LabelEncoder()
        data_encoded[feature] = le.fit_transform(data[feature])

  # Feature selection for numerical features (for regression problem)
    score_func_num = mutual_info_regression
    selector_num = SelectKBest(score_func=score_func_num, k=n_features_to_select)
    selector_num.fit(data_encoded[numerical_features], target)


    # Feature selection for categorical features using Random Forest
    if problem_type == 'classification':
        selector_cat = SelectFromModel(RandomForestClassifier(n_estimators=100))
    else:
        selector_cat = SelectFromModel(RandomForestRegressor(n_estimators=100))
    selector_cat.fit(data_encoded[categorical_features], target)

    # Combine selected features from both numerical and categorical features
    selected_features_num = [numerical_features[i] for i in selector_num.get_support(indices=True)]
    selected_features_cat = [categorical_features[i] for i in selector_cat.get_support(indices=True)]
    selected_features = selected_features_num + selected_features_cat

    return selected_features

# Data usage:
data = cali_df2
target = data['WFIR_RISKS']
selected_features = feature_selection(data, target, n_features_to_select=50, problem_type='regression')
print(selected_features)

['OID_', 'TRACTFIPS', 'BUILDVALUE', 'AREA', 'RISK_VALUE', 'RISK_SCORE', 'RISK_SPCTL', 'EAL_SCORE', 'EAL_SPCTL', 'EAL_VALT', 'EAL_VALB', 'ALR_VALB', 'ALR_NPCTL', 'ALR_VRA_NPCTL', 'DRGT_EXP_AREA', 'HWAV_EXP_AREA', 'HWAV_ALR_NPCTL', 'LTNG_AFREQ', 'LTNG_EXP_AREA', 'LTNG_EALB', 'LTNG_EALP', 'LTNG_EALPE', 'LTNG_EALT', 'LTNG_ALRB', 'LTNG_ALRP', 'LTNG_ALR_NPCTL', 'LTNG_RISKV', 'LTNG_RISKS', 'SWND_EXP_AREA', 'SWND_EXPB', 'SWND_EALB', 'SWND_EALT', 'SWND_EALS', 'SWND_ALR_NPCTL', 'WFIR_AFREQ', 'WFIR_EXP_AREA', 'WFIR_EXPB', 'WFIR_EXPP', 'WFIR_EXPPE', 'WFIR_EXPT', 'WFIR_EALB', 'WFIR_EALP', 'WFIR_EALPE', 'WFIR_EALT', 'WFIR_EALS', 'WFIR_ALRB', 'WFIR_ALRP', 'WFIR_ALR_NPCTL', 'WFIR_RISKV', 'WFIR_RISKS', 'WFIR_HLRR', 'WFIR_EALR', 'WFIR_RISKR']

In [32]:
# Create a DataFrame from the 'selected_features' list
selected_features_df = pd.DataFrame({'Selected Features': selected_features})

# Print the DataFrame
print(selected_features_df)

   Selected Features
0               OID_
1          TRACTFIPS
2         BUILDVALUE
3               AREA
4         RISK_VALUE
5         RISK_SCORE
6         RISK_SPCTL
7          EAL_SCORE
8          EAL_SPCTL
9           EAL_VALT
10          EAL_VALB
11          ALR_VALB
12         ALR_NPCTL
13     ALR_VRA_NPCTL
14     DRGT_EXP_AREA
15     HWAV_EXP_AREA
16    HWAV_ALR_NPCTL
17        LTNG_AFREQ
18     LTNG_EXP_AREA
19         LTNG_EALB
20         LTNG_EALP
21        LTNG_EALPE
22         LTNG_EALT
23         LTNG_ALRB
24         LTNG_ALRP
25    LTNG_ALR_NPCTL
26        LTNG_RISKV
27        LTNG_RISKS
28     SWND_EXP_AREA
29         SWND_EXPB
30         SWND_EALB
31         SWND_EALT
32         SWND_EALS
33    SWND_ALR_NPCTL
34        WFIR_AFREQ
35     WFIR_EXP_AREA
36         WFIR_EXPB
37         WFIR_EXPP
38        WFIR_EXPPE
39         WFIR_EXPT
40         WFIR_EALB
41         WFIR_EALP
42        WFIR_EALPE
43         WFIR_EALT
44         WFIR_EALS
45         WFIR_ALRB
46         WFIR_ALRP
47    WFIR_ALR_NPCTL
48        WFIR_RISKV
49        WFIR_RISKS
50         WFIR_HLRR
51         WFIR_EALR
52        WFIR_RISKR

In [33]:
# Extract the selected features from the DataFrame 'cali_df2'
selected_features_df = cali_df2[selected_features]

# Print the extracted DataFrame
selected_features_df.head()

,OID_,TRACTFIPS,BUILDVALUE,AREA,RISK_VALUE,RISK_SCORE,RISK_SPCTL,EAL_SCORE,EAL_SPCTL,EAL_VALT,...,WFIR_EALT,WFIR_EALS,WFIR_ALRB,WFIR_ALRP,WFIR_ALR_NPCTL,WFIR_RISKV,WFIR_RISKS,WFIR_HLRR,WFIR_EALR,WFIR_RISKR
9,4580,6005000101,850357220.0,24.577795,1.817430e+06,85.363649,61.926203,88.944735,73.006809,1.893399e+06,...,1.609116e+06,99.523147,0.001891,2.878250e-08,99.508877,1.544553e+06,99.458926,Relatively Low,Very High,Very High
10,4580,6005000101,850357220.0,24.577795,1.817430e+06,85.363649,61.926203,88.944735,73.006809,1.893399e+06,...,1.609116e+06,99.523147,0.001891,2.878250e-08,99.508877,1.544553e+06,99.458926,Relatively Low,Very High,Very High
11,4580,6005000101,850357220.0,24.577795,1.817430e+06,85.363649,61.926203,88.944735,73.006809,1.893399e+06,...,1.609116e+06,99.523147,0.001891,2.878250e-08,99.508877,1.544553e+06,99.458926,Relatively Low,Very High,Very High
12,4580,6005000101,850357220.0,24.577795,1.817430e+06,85.363649,61.926203,88.944735,73.006809,1.893399e+06,...,1.609116e+06,99.523147,0.001891,2.878250e-08,99.508877,1.544553e+06,99.458926,Relatively Low,Very High,Very High
13,4580,6005000101,850357220.0,24.577795,1.817430e+06,85.363649,61.926203,88.944735,73.006809,1.893399e+06,...,1.609116e+06,99.523147,0.001891,2.878250e-08,99.508877,1.544553e+06,99.458926,Relatively Low,Very High,Very High

### Save Dataset to a csv file on Local Drive

In [34]:
# Save the DataFrame to a CSV file
#selected_features_df.to_csv('model_data.csv', index=False)